body {
  background-color: red;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-align: center;
  padding: 0;
}

.wrapper {
  margin: 100px auto;
  max-width: 300px;
  padding: 30px;
  border: 4px double white;
  border-radius: 185px
}

h1 {
  font-size: 60px;
  letter-spacing: 2px;
  color: #f3ff00
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 0;
}

h1 span {
  display: block;
  font-size: 200%;
}
